[submodule ".themes/octopress-flat"]
	path = .themes/octopress-flat
	url = git://github.com/alexharris/octopress-flat.git
[submodule ".themes/oct2"]
	path = .themes/oct2
	url = git@github.com:bijumon/oct2.git
